@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;600;700;800 & family= Marck+Script & display=swap' );


/* valeur deja appeler */
:root
{
    --police-defaut: 'Inter', sans-serif;
    --police-second: 'Marck Script', cursive;
    --shadow-one: 1px 0px 35px 15px rgba(7,63,6,0.83); 
}

/* ********************** body ****************** */

*{
    margin: 0;
    padding: 0;
    
}

a
{
    color: inherit;
    text-decoration: none;
}
.nous 
{
    background-color: #406B06 !important;
}

/* ***************************** header ************************** */

header
{
    background: url('../img/Le-Congo.webp') no-repeat center center/ cover;
        height: 100vh;
    }

    header .milieu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 100%;
        height: 100px;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.507);
        position: fixed;
        transition: 0.3s;
    }

/* ***************************** partie du header ************************** */

.leftbar-header
{
        position: relative;
        top: 100px;
        width: 500px;
        height: 86.8vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }


    .leftbar-header img
    {
        width: 100px;
    }

    .leftbar-header p
    {
        color: white;
        padding: 25px 35px;
        font-family: var(--police-defaut);
        font-size: 1rem;
        text-align: center;
    }


/* ***************************** main partie du corps de la page ************************** */

main{
    width: 100%;
}

.nous-main
{
        background:  linear-gradient(82deg, rgba(0,0,0,0.8690826672465861) 80%, rgba(3,47,2,0) 100%), url('../img/bann-Congo.webp') no-repeat center center/ cover ;
    }

    .title-one-nous, .title-two-nous
    {
        width: 100%;
        height: 100px;
        background-color: #084A07;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;

    }

    .title-one-nous h2, .title-two-nous h2
    {
        color: white;
        font-family: var(--police-second);
        text-align: center;
    }

    .text-main-nous
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .contenair-nous
    {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        grid-gap: 25px;
    }

    .text-main-nous p
    {
        color: white;
        width: 100%;
        padding: 15px;
        text-align: justify;
        font-size: 1.1rem;
        line-height: 1.8em;

        
    }


/* ***************************** deuxieme partie du main partie pulsy  ************************** */

.ekip-main
    {
        display: flex;
        flex-direction: column;    
        align-items: center;
        background: url('../img/CongoRep.png') no-repeat center center ;
    
        
    }

    .pulsy-main-nous{
        
        padding: 80px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
    }

    .congo-left
    {
        width: 40%;
    }

    .congo-right{
        width: 60%;
        border-left: 2px solid white;
        padding-left: 100px;
    }

    .congo-right li
    {
        color: white;
        font-family: var(--police-defaut);
        line-height: 2.5rem;
        list-style: square;
        font-size: 1rem;
    }

    .congo-right h3
    {
        color: white;
        font-family: var(--police-second);
        line-height: 3rem;
        font-size: 1.5rem;


    }
   

/* ***************************** avant derniere partie ************************** */
 .contact-nous
 {
        width: 100%;
        padding: 80px 0;
        display: flex;
        justify-content: center;
        background: linear-gradient(0deg, rgba(8, 74, 7, 0.747) 50%, rgba(0,0,0,0) 100%);
    }

    .contact-main-nous
    {
        width: 90%;
    }

    .decouvert-congo 
    {
        padding: 0 150px;
        margin-bottom: 50px;
    }

    .decouvert-congo h2
    {
        color: white;
        text-align: center;
        margin-bottom: 15px;
        font-size: 2rem;
        font-family: var(--police-second);
    }

    .decouvert-congo p
    {
        color: white;
        font-family: var(--police-defaut);
        font-size: 1rem;
        text-align: center;
    }

   .decouvre-img
   {
       display: flex;
       overflow: hidden;
       justify-content: space-between;
      
   }

   .img-decouvre
   {
       position: relative;
       width: 30%;
       height: auto;
       overflow: hidden;
   }

   .img-decouvre img
   {
       width: 100%;
       height: 100%;
       transition: all 0.3s ease;
       position: relative;
   }

   .img-decouvre img:hover
   {
       transform: scale(1.5) translate(15px);
       content: 'Brazzaville & La sape';
       opacity: 0.5;
   }


   /*
   .img-decouvre:nth-child(1)::after
   {
     
        visibility: hidden;
        transition: all 0.5s ease;
   }
 
   .img-decouvre:nth-child(1):hover::after
   {
       visibility: visible;
   } */

 /* ************************* media query ********************* */
 /* ***********************************************************/
 /* ***********************************************************/
 /* ***********************************************************/

 @media screen and (max-width: 1100px)
 {
    .text-pulsy p
    {
        width: 100%;
    }
 }

 /* ********************************************************************************************************************************* */
@media screen and (max-width: 915px)
{

}

/* ********************************************************************************************************************************* */
@media screen and (max-width: 745px) 
{
    .leftbar-header
    {
        width: 100%;
 
    }

    
    .contenair-nous
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ********************************************************************************************************************************* */
@media screen and (max-width: 520px)
{
    

    .pulsy-main-nous
    {
        padding: 20px;
    }

    .contact-main-nous 
    {
        display: block;
    }

    .img-kanoe {
        width: 100%;
        margin-right: 0;
    }

    .text-contact-nous {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text-contact-nous p
    {
        margin-bottom: 15px;
    }
}

/* ********************************************************************************************************************************* */
@media screen and (max-width: 414px)
{

}

/* ********************************************************************************************************************************* */