@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;600;700;800 & family= Marck+Script & display=swap' );




/* valeur deja appeler */
:root
{
    --police-defaut: 'Inter', sans-serif;
    --police-second: 'Marck Script', cursive;
    --shadow-one: 1px 0px 35px 15px rgba(7,63,6,0.83); 
}

/* **************************** */
header, header .milieu{
    height: 50vh !important;
}

.milieu-header h3
{
    text-align: center;
    font-family: var(--police-defaut);
}

.milieu-header h3, .milieu-header h2
{
    background-color: rgba(0,0,0,0.6);
}


.milieu
{
    background: url('../img/gal/foret11.jpg') no-repeat center center/ cover;
}